footer{
    height: 42.2vh;
    padding-top: 2rem;

    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;

    background-color: $colour-header;

    .movement-button{
        width: 0;
        height: 0;
        margin-bottom: 0.5rem;
        background-color: transparent;
    }

    #left{
        border-top: 1rem solid transparent;
        border-bottom: 1rem solid transparent;
        border-left: 1rem solid transparent;

        border-right: 1rem solid $colour-button-border;

        &:active{
            border-right: 1rem solid $colour-button;
        }
    }

    #up{
        border-left: 1rem solid transparent;
        border-right: 1rem solid transparent;
        border-top: 1rem solid transparent;

        border-bottom: 1rem solid $colour-button-border;
        
        &:active{
            border-bottom: 1rem solid $colour-button;
        }
    }

    #down{
        border-left: 1rem solid transparent;
        border-right: 1rem solid transparent;
        border-bottom: 1rem solid transparent;

        border-top: 1rem solid $colour-button-border;

        &:active{
            border-top: 1rem solid $colour-button;
        }
    }

    #right{
        border-top: 1rem solid transparent;
        border-bottom: 1rem solid transparent;
        border-right: 1rem solid transparent;

        border-left: 1rem solid $colour-button-border;

        &:active{
            border-left: 1rem solid $colour-button;
        }
    }
}

@media screen and (min-width: 768px){
    footer{
        display: none;
    }
}