footer{
    height: 42.2vh;
    padding-top: 2rem;

    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;

    .movement-button{
        width: 3rem;
        height: auto;
        margin-bottom: 0.5rem;

        border: none;
        border-radius: 20%;
        background-color: transparent;

        &:active{
            background-color: $colour-text;
        }
    }
}

@media screen and (min-width: 768px){
    footer{
        display: none;
    }
}