footer{
    padding-top: 2rem;

    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;

    .movement-button{
        width: 3rem;
        height: auto;
        margin-bottom: 0.5rem;

        border: none;
        border-radius: 20%;
        background-color: transparent;

        img{
            border: 0.2rem solid $colour-button-border;
            background-color: $colour-button-border;
            border-radius: 20%;
        }
        
        &:active{
            //Big shadow so can see around fingers
            box-shadow: 0 0 1.5rem 0.5rem $colour-button;
        }
    }
}

@media screen and (min-width: 768px){
    footer{
        display: none;
    }
}