main{
    height: 77.5vh;
    background-color: $colour-game-background;

    .snake-div{
        margin: -0.07rem;

        height: 1rem;
        width: 1rem;

        display: inline-block;

        background-color: $colour-snake-inner;
        border: 0.15rem solid $colour-snake-border;

        &--head{
            background-color: $colour-snake-border;
        }
    }
}

@media screen and (min-width: 768px){
    main{
        height: 90vh;
    }
}