main{
    display: flex;
    justify-content: center;

    .game{
        width: 24rem;
        height: 24rem;

        display: flex;
        flex-wrap: wrap;
        align-content: center;
        text-align: center;

        background-color: $colour-game;

        .gameDiv{
            width: 1.2rem;
            height: 1.2rem;
        }

        .snake{
            background-color: $colour-snake-inner;
            background: radial-gradient(ellipse at center, $colour-snake-inner 35%, $colour-snake-border);

            &--head{
                background-color: $colour-snake-border;
            }
        }

        .food{
            background-color: $colour-food;
            border-radius: 50%;
        }
    }
}

@media screen and (min-width: 768px){
    main{
        .game{
            margin-top: 0.5rem;
            
            width: 45rem;
            height: 45rem;

            .gameDiv{
                width: 1.8rem;
                height: 1.8rem;
            }
        }
    }
}