header{
    height: 12.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    *{
        margin: 0 1rem;
        font-family: $font-primary;
    }

    .button{
        height: 2rem;
        width: 5.5rem;

        border: 0.125rem solid $colour-button-border;
        border-radius: 0.5rem;

        background-color: $colour-button;
        color: $colour-button-text;

        font-size: 0.9rem;
        font-weight: 400;

        &:active{
            background-color: $colour-button-border;
            color: $colour-text;
        }
    }

    .score{
        text-align: center;
        text-shadow: 0.09rem 0.09rem 0.05rem $colour-button-border;

        font-weight: 500;
        font-size: 1rem;
        color: $colour-text;

    }
}


@media screen and (min-width: 1280px){
    header{
        height: 35vh;
        margin-top: 2rem;

        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        .button{
            width: 6rem;
        }
    }
}