header{
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;

    background-color: $colour-header;

    *{
        margin: 0 1rem;
    }

    .button{
        height: 2rem;
        width: 5.5rem;

        border: 0.125rem solid $colour-button-border;
        border-radius: 0.5rem;

        background-color: $colour-button;
        color: $colour-text;

        &:active{
            background-color: $colour-button-border;
        }
    }

    .score{
        text-align: center;
        color: $colour-text;
        text-shadow: 0.05rem 0.05rem 0.05rem $colour-button;
    }

    .movement-buttons{
        .movement-button{
            width: 0;
            height: 0;
            margin-bottom: 0.5rem;
            background-color: transparent;
        }

        #left{
            border-top: 1rem solid transparent;
            border-bottom: 1rem solid transparent;
            border-left: 1rem solid transparent;

            border-right: 1rem solid $colour-button-border;

            &:active{
                border-right: 1rem solid $colour-button;
            }
        }

        #up{
            border-left: 1rem solid transparent;
            border-right: 1rem solid transparent;
            border-top: 1rem solid transparent;

            border-bottom: 1rem solid $colour-button-border;
            
            &:active{
                border-bottom: 1rem solid $colour-button;
            }
        }

        #down{
            border-left: 1rem solid transparent;
            border-right: 1rem solid transparent;
            border-bottom: 1rem solid transparent;

            border-top: 1rem solid $colour-button-border;

            &:active{
                border-top: 1rem solid $colour-button;
            }
        }

        #right{
            border-top: 1rem solid transparent;
            border-bottom: 1rem solid transparent;
            border-right: 1rem solid transparent;

            border-left: 1rem solid $colour-button-border;

            &:active{
                border-left: 1rem solid $colour-button;
            }
        }
    }
}


@media screen and (min-width: 768px){
    header{
        justify-content: flex-start;
        height: 10vh;

        .movement-buttons{
            display: none;
        }
    }
}