* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 12.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: dodgerblue;
}
header * {
  margin: 0 1rem;
}
header .button {
  height: 2rem;
  width: 5.5rem;
  border: 0.125rem solid rgb(0, 0, 86);
  border-radius: 0.5rem;
  background-color: darkblue;
  color: white;
}
header .button:active {
  background-color: rgb(0, 0, 86);
}
header .score {
  text-align: center;
  color: white;
  text-shadow: 0.05rem 0.05rem 0.05rem darkblue;
}

@media screen and (min-width: 768px) {
  header {
    justify-content: flex-start;
    height: 10vh;
  }
}
main {
  height: 77.5vh;
  background-color: cornsilk;
}
main .snake-div {
  margin: -0.07rem;
  height: 1rem;
  width: 1rem;
  display: inline-block;
  background-color: darkmagenta;
  border: 0.15rem solid indigo;
}
main .snake-div--head {
  background-color: indigo;
}

@media screen and (min-width: 768px) {
  main {
    height: 90vh;
  }
}
footer {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: dodgerblue;
}
footer .movement-button {
  width: 0;
  height: 0;
  margin-bottom: 0.5rem;
  background-color: transparent;
}
footer #left {
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
  border-left: 1rem solid transparent;
  border-right: 1rem solid rgb(0, 0, 86);
}
footer #left:active {
  border-right: 1rem solid darkblue;
}
footer #up {
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid rgb(0, 0, 86);
}
footer #up:active {
  border-bottom: 1rem solid darkblue;
}
footer #down {
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
  border-top: 1rem solid rgb(0, 0, 86);
}
footer #down:active {
  border-top: 1rem solid darkblue;
}
footer #right {
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-left: 1rem solid rgb(0, 0, 86);
}
footer #right:active {
  border-left: 1rem solid darkblue;
}

@media screen and (min-width: 768px) {
  footer {
    display: none;
  }
}
@media screen and (max-width: 930px) and (max-height: 500px) and (orientation: landscape) {
  header {
    height: 12.5vh;
    width: 100vw;
  }

  main {
    height: 75vh;
    width: 100vw;
  }

  footer {
    height: 12.5vh;
    display: flex;
    width: 100vw;
  }
  footer .movement-button {
    margin: 0.05rem 0;
  }
}